<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" backupGlobals="false" colors="true">
    <logging>
        <log type="coverage-clover" target="coverage/clover.xml"/>
    </logging>
    <php>
        <env name="DB_DSN" value="mysql:host=127.0.0.1;dbname=anonymiser"/>
        <env name="DB_USERNAME" value="travis"/>
        <env name="DB_PASSWORD" value=""/>
    </php>
    <testsuites>
        <testsuite name="all">
            <directory>./tests/ElliotJReed/DatabaseAnonymiser/</directory>
        </testsuite>
        <testsuite name="sqlite">
            <directory>./tests/ElliotJReed/DatabaseAnonymiser/</directory>
            <exclude>./tests/ElliotJReed/DatabaseAnonymiser/MysqlDatabaseConfigurationTest.php</exclude>
        </testsuite>
        <testsuite name="mysql">
            <directory>./tests/ElliotJReed/DatabaseAnonymiser/</directory>
            <exclude>./tests/ElliotJReed/DatabaseAnonymiser/SqliteDatabaseConfigurationTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>
